Use pandas to create a Series named fruits from the following list:

    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

### 1) Determine the number of elements in fruits.

In [2]:
fruits_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
(fruits_series)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [3]:
fruits_series.size

17

### 2) Output only the index from fruits.

In [4]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

### 3) Output only the values from fruits.

In [5]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

### 4) Confirm the data type of the values in fruits.

In [6]:
fruits_series.dtype

dtype('O')

### 5)Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [7]:
fruits_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [8]:
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [9]:
fruits_series.sample(2)

2    strawberry
3     pineapple
dtype: object

### 6) Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [10]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### 7) Run the code necessary to produce only the unique string values from fruits.

In [11]:
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

### 8)Determine how many times each unique string value occurs in fruits.

In [12]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

### 9) Determine the string value that occurs most frequently in fruits.

In [13]:
fruits_series.value_counts().nlargest(n=1)

kiwi    4
dtype: int64

In [14]:
##or
fruits_series.value_counts().idxmax()

'kiwi'

### 10) Determine the string value that occurs least frequently in fruits.

In [15]:
fruits_series.value_counts().nsmallest(n=1, keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [16]:
###or......

fruits_series.value_counts().idxmin()

'strawberry'

## Exercises Part II:

### 1). Capitalize all the string values in fruits.

In [17]:
fruits_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

### 2) Count the letter "a" in all the string values (use string vectorization).

In [18]:
fruits_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [19]:
df = pd.concat([fruits_series, fruits_series.str.count('a')], axis =1)
df

                   0  1
0               kiwi  0
1              mango  1
2         strawberry  1
3          pineapple  1
4         gala apple  3
5   honeycrisp apple  1
6             tomato  1
7         watermelon  1
8           honeydew  0
9               kiwi  0
10              kiwi  0
11              kiwi  0
12             mango  1
13         blueberry  0
14        blackberry  1
15        gooseberry  0
16            papaya  3

In [20]:
df.columns = ['fruit_name','number_of_a']
df

          fruit_name  number_of_a
0               kiwi            0
1              mango            1
2         strawberry            1
3          pineapple            1
4         gala apple            3
5   honeycrisp apple            1
6             tomato            1
7         watermelon            1
8           honeydew            0
9               kiwi            0
10              kiwi            0
11              kiwi            0
12             mango            1
13         blueberry            0
14        blackberry            1
15        gooseberry            0
16            papaya            3

### 3) Output the number of vowels in each and every string value.

In [21]:
fruits_series.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [47]:
##class example:
def count_vowels(string):
    count = 0
    for char in string:
        if char.lower() in 'aeiou':
            count = count + 1
    return count

In [50]:
fruits_series.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

### 4) Write the code to get the longest string value from fruits.

In [22]:
max(fruits_series.values, key=len)

'honeycrisp apple'

In [55]:
##class example:
fruits_series[fruits_series.str.len().idxmax()]

'honeycrisp apple'

### 5) Write the code to get the string values with 5 or more letters in the name.

In [23]:
fruits_series[fruits_series.str.len()>=5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### 6) Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [24]:
#first step: find the count of 'o' 
contains_o= lambda x: x.count('o') >= 2

In [25]:
contains_o('cookie') #have to apply a string to see if input works

True

In [26]:
fruits_series.apply(contains_o)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
dtype: bool

In [27]:
fruits_series[fruits_series.apply(contains_o)] ##using boolean mask to show string values

6         tomato
15    gooseberry
dtype: object

In [57]:
###class example:

fruits_series[fruits_series.apply(lambda fruits_series: fruits_series.count('o') > 1)]

6         tomato
15    gooseberry
dtype: object

### 7) Write the code to get only the string values containing the substring "berry".

In [28]:
fruits_series[fruits_series.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object


### 8) Write the code to get only the string values containing the substring "apple".

Which string value contains the most vowels?

In [29]:
fruits_series[fruits_series.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

### 9) Which string value contains the most vowels?

In [30]:
from collections import Counter

most_vowels = fruits_series.map(lambda c: sum([Counter(c.lower()).get(i, 0)
                                   for i in list('aeiou')]))

In [31]:
most_vowels

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [32]:
fruits_series[most_vowels]

2          strawberry
2          strawberry
2          strawberry
4          gala apple
4          gala apple
5    honeycrisp apple
3           pineapple
4          gala apple
3           pineapple
2          strawberry
2          strawberry
2          strawberry
2          strawberry
3           pineapple
2          strawberry
4          gala apple
3           pineapple
dtype: object

In [33]:
fruits_series[max(most_vowels)]

'honeycrisp apple'

In [59]:
###easier way:
fruits_series[max(fruits_series.str.lower().str.count(('[aeiou]')))]

'honeycrisp apple'

## Exercises Part III:

In [ ]:
letters= pd.Series(list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
                       ))

letters

### 1) Which letter occurs the most frequently in the letters Series?

In [ ]:
letters[letters.value_counts().max()]

### 2) Which letter occurs the Least frequently?

In [ ]:
letters[letters.value_counts().min()]

### 3) How many vowels are in the Series?

In [ ]:
##other way:
letters.str.count('[aeiou]').sum()

In [ ]:
 def count_vowels(x):
        count = 0
        for char in x:
            if char in 'aeiou':
                count += 1
        return count

In [ ]:
count_vowels('cookies')

In [ ]:
sum(letters.apply(count_vowels))

### 4) How many consonants are in the Series?

In [ ]:
## other way:
letters.str.count('[bcdfghjklmnpqrstvwxyz]').sum()

In [ ]:
len(letters) - sum(letters.apply(count_vowels))

In [ ]:
letters.str.count('[^aeiou]').sum()

### 5) Create a Series that has all of the same letters but uppercased.

In [ ]:
letters.str.capitalize()

### 6) Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [ ]:
letters.value_counts().head(6).plot.bar(color='firebrick', width=.9)

## NEW SERIES:

In [37]:
n= pd.Series(['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23'])

In [38]:
n

0       $796,459.41
1           $278.60
2       $482,571.67
3     $4,503,915.98
4      $2,121,418.3
5      $1,260,813.3
6        $87,231.01
7     $1,509,175.45
8     $4,138,548.00
9     $2,848,913.80
10      $594,715.39
11    $4,789,988.17
12     $4,513,644.5
13    $3,191,059.97
14    $1,758,712.24
15    $4,338,283.54
16    $4,738,303.38
17    $2,791,759.67
18      $769,681.94
19      $452,650.23
dtype: object

### 7) What is the data type of the numbers Series?

In [39]:
n.dtype

dtype('O')

### 8) How many elements are in the number Series?

In [40]:
len(n)

20

### 9)Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

In [41]:
num_number = n.str.replace('$', '').str.replace(',', '').astype('float')

/var/folders/d3/11nygz6126ndxvtrp12687680000gn/T/ipykernel_40486/854819855.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  num_number = n.str.replace('$', '').str.replace(',', '').astype('float')

### 10) Run the code to discover the maximum value from the Series.

In [42]:
max(num_number)

4789988.17

### 11) Run the code to discover the minimum value from the Series.

In [43]:
min(num_number)

278.6

In [44]:
num_number

0      796459.41
1         278.60
2      482571.67
3     4503915.98
4     2121418.30
5     1260813.30
6       87231.01
7     1509175.45
8     4138548.00
9     2848913.80
10     594715.39
11    4789988.17
12    4513644.50
13    3191059.97
14    1758712.24
15    4338283.54
16    4738303.38
17    2791759.67
18     769681.94
19     452650.23
dtype: float64

### 12) What is the range of the values in the Series?

In [45]:
num_range = min(num_number), max(num_number)
num_range

(278.6, 4789988.17)

### 13) Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

In [46]:
pd.cut(num_number, 4)

0        (-4511.11, 1197705.993]
1        (-4511.11, 1197705.993]
2        (-4511.11, 1197705.993]
3      (3592560.778, 4789988.17]
4     (1197705.993, 2395133.385]
5     (1197705.993, 2395133.385]
6        (-4511.11, 1197705.993]
7     (1197705.993, 2395133.385]
8      (3592560.778, 4789988.17]
9     (2395133.385, 3592560.778]
10       (-4511.11, 1197705.993]
11     (3592560.778, 4789988.17]
12     (3592560.778, 4789988.17]
13    (2395133.385, 3592560.778]
14    (1197705.993, 2395133.385]
15     (3592560.778, 4789988.17]
16     (3592560.778, 4789988.17]
17    (2395133.385, 3592560.778]
18       (-4511.11, 1197705.993]
19       (-4511.11, 1197705.993]
dtype: category
Categories (4, interval[float64, right]): [(-4511.11, 1197705.993] < (1197705.993, 2395133.385] < (2395133.385, 3592560.778] < (3592560.778, 4789988.17]]